
<div class="todoBox">
  <div class="leftContainer" *ngIf="edit || !close">
    <app-add-or-edit
      [edit]="edit"
      (refuseEdit)="editOff($event)"
      (closeDialog)="closeDialog($event)"
    ></app-add-or-edit>
  </div>
  <div class="loading" *ngIf="!flag">
    <i class="fa fa-spinner"></i>
  </div>
  <div class="todo" *ngIf="flag">
    <app-todo-filter></app-todo-filter>
    <app-todolist (edit)="toggleEdit($event)"></app-todolist>
    <app-footer id="footer"></app-footer>
    <button (click)="closeDialog(false)" id="addTodo">Add Todo <i class="fa-regular fa-calendar-plus"></i></button>
  </div>
    <app-notify></app-notify>
</div>
